html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  color: #585858;
  background: #fff;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: #0066ff;
  background: transparent;
  text-decoration: underline; }
  a:active, a:hover {
    outline: 0;
    text-decoration: none; }

em, .em {
  font-style: italic; }

hr, .hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 1em 0;
  height: 1px;
  background: #eee;
  border: 0; }

ul, ol {
  margin: 1em 0 2em;
  padding: 0 0 0 40px; }
  ul li, ol li {
    margin-bottom: 5px; }

dl::after {
  clear: both;
  content: "";
  display: table; }

dl dt {
  float: left;
  width: 25%;
  display: block;
  font-weight: 400; }

dl dd {
  overflow: hidden;
  display: block; }

p {
  margin: 0.25em 0; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0; }

h1, .h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 48px;
  line-height: 3rem;
  color: #343434;
  margin-top: 0.7em;
  margin-bottom: 0.5em; }

h2, .h2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 44px;
  line-height: 2.75rem;
  color: #343434;
  margin-top: 1.4em;
  margin-bottom: 0.2em; }

h3, .h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 38px;
  line-height: 2.375rem;
  color: #343434;
  margin-top: 1em;
  margin-bottom: 0.2em; }

h4, .h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 36px;
  line-height: 2.25rem;
  color: #343434;
  margin-top: 1em;
  margin-bottom: 0.2em; }

h5, .h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 28px;
  line-height: 1.75rem;
  color: #343434;
  margin-top: 1em;
  margin-bottom: 0.1em; }

h6, .h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #343434;
  margin-top: 1em;
  margin-bottom: 0.1em; }

blockquote, .blockquote {
  color: #424242;
  font-style: italic;
  margin: 3em 0; }
  blockquote p, .blockquote p {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
    line-height: 1.75rem;
    padding-left: 20px;
    border-left: 4px solid #ccc;
    margin-bottom: .4em; }
  blockquote cite, .blockquote cite {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 18px;
    line-height: 1.125rem;
    color: #999;
    font-style: normal; }
    blockquote cite:before, .blockquote cite:before {
      content: '\2014 \0020'; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

caption {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: normal;
  font-weight: 700;
  text-align: left;
  padding: .5em 0;
  border-bottom: 1px solid #d7d7d7; }

table {
  font-size: 14px;
  font-size: 0.875rem;
  width: 100%;
  margin: 1em 0;
  text-align: left; }
  table thead td,
  table thead th,
  table tbody td,
  table tbody th,
  table tfoot td,
  table tfoot th {
    color: #585858;
    padding: .8em .5em;
    border-bottom: 1px solid #e9e9e9; }

.table-striped > tbody > tr:nth-child(even) {
  background-color: #FFF; }

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #EEE; }

.table-border {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9; }

.btn {
  border: 1px solid #d7d7d7;
  background-color: #f3f3f3;
  line-height: normal;
  padding: .5em 1em;
  text-decoration: none;
  font-size: 14px;
  color: #363636;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  transition: all 1s ease-in; }
  .btn:hover, .btn:active {
    text-decoration: none; }

.btn-block {
  display: block; }

.btn-lg {
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1.3333; }

.btn-sm {
  padding: 5px 10px;
  line-height: 1.5;
  font-size: 12px; }

.btn-blue {
  background: #2592f6;
  color: #fff;
  border: 1px solid #2592f6; }

.btn-green {
  background: #12b335;
  color: #fff;
  border: 1px solid #12b335; }

.btn-orange {
  background: #f77e00;
  color: #fff;
  border: 1px solid #f77e00; }

.btn-gray {
  background: #b3b3b3;
  color: #fff;
  border: 1px solid #b3b3b3; }

.btn-link {
  color: #0066ff;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding: 0; }
  .btn-link:hover {
    text-decoration: none; }
  .btn-link:active {
    outline: 0; }

code, kbd, pre, samp {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #000;
  overflow-value: break-word;
  word-value: break-word;
  word-break: break-all;
  background-color: #ececec;
  padding: 5px 10px;
  white-space: pre-wrap; }

pre {
  padding: 10px;
  overflow: auto; }

.form {
  padding-top: 1em;
  padding-bottom: 1em; }

label {
  margin-bottom: 5px;
  max-width: 100%;
  display: inline-block; }

.form-group ul {
  padding: 0; }

.form-group li {
  list-style: none;
  margin-bottom: 15px;
  line-height: 30px; }

.form-uniline li {
  float: left;
  margin-right: 20px; }

.form-block label {
  margin-right: 5px;
  width: 100px;
  text-align: right; }

.form-field {
  padding-left: 110px; }

.checkbox,
.radio {
  display: inline-block;
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  .checkbox label,
  .radio label {
    padding-top: 0;
    padding-left: 20px;
    display: inline-block; }
  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"],
  .radio input[type="checkbox"],
  .radio input[type="radio"] {
    position: absolute;
    top: 4px;
    left: 0; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  width: 200px;
  height: 30px;
  padding: 6px;
  outline: none;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  select[disabled],
  textarea[disabled],
  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="datetime"][disabled],
  input[type="datetime-local"][disabled],
  input[type="date"][disabled],
  input[type="month"][disabled],
  input[type="time"][disabled],
  input[type="week"][disabled],
  input[type="number"][disabled],
  input[type="email"][disabled],
  input[type="url"][disabled],
  input[type="search"][disabled],
  input[type="tel"][disabled],
  input[type="color"][disabled] {
    opacity: .35;
    cursor: default; }

textarea {
  width: 300px;
  height: 150px; }

.select {
  border: 1px solid #ccc;
  overflow: hidden;
  height: 36px;
  line-height: 32px;
  padding: 0 .4em;
  position: relative;
  display: block; }
  .select:before {
    content: "";
    border: 6px solid transparent;
    border-top-color: #676767;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    pointer-events: none;
    position: absolute; }
  .select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 120%;
    height: 36px;
    padding: 0;
    line-height: normal;
    border: 0;
    background: transparent;
    display: block; }
    .select select:focus {
      outline: 0; }

::-webkit-input-placeholder {
  color: #999; }

:-moz-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

.row::after {
  clear: both;
  content: "";
  display: table; }

.row {
  position: relative;
  margin-right: -10px;
  margin-left: -10px; }

.gird-md {
  width: 960px; }

.gird-hd {
  width: 1120px; }

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto; }

.container-full {
  padding-right: 0;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 740px) {
  .container, .container-full {
    width: 720px; }
  .container-sm {
    width: 720px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto; }
  .container-full-sm {
    width: 720px;
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (min-width: 980px) {
  .container, .container-full {
    width: 960px; }
  .container-md {
    width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto; }
  .container-full-md {
    width: 960px;
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (min-width: 1140px) {
  .container, .container-full {
    width: 1120px; }
  .container-hd {
    width: 1120px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto; }
  .container-full-hd {
    width: 1120px;
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto; } }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  float: left; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.push-1 {
  left: 8.33333%; }

.push-2 {
  left: 16.66667%; }

.push-3 {
  left: 25%; }

.push-4 {
  left: 33.33333%; }

.push-5 {
  left: 41.66667%; }

.push-6 {
  left: 50%; }

.push-7 {
  left: 58.33333%; }

.push-8 {
  left: 66.66667%; }

.push-9 {
  left: 75%; }

.push-10 {
  left: 83.33333%; }

.push-11 {
  left: 91.66667%; }

.pull-1 {
  left: -8.33333%; }

.pull-2 {
  left: -16.66667%; }

.pull-3 {
  left: -25%; }

.pull-4 {
  left: -33.33333%; }

.pull-5 {
  left: -41.66667%; }

.pull-6 {
  left: -50%; }

.pull-7 {
  left: -58.33333%; }

.pull-8 {
  left: -66.66667%; }

.pull-9 {
  left: -75%; }

.pull-10 {
  left: -83.33333%; }

.pull-11 {
  left: -91.66667%; }

@media only screen and (min-width: 740px) {
  .col-1-sm,
  .col-2-sm,
  .col-3-sm,
  .col-4-sm,
  .col-5-sm,
  .col-6-sm,
  .col-7-sm,
  .col-8-sm,
  .col-9-sm,
  .col-10-sm,
  .col-11-sm,
  .col-12-sm {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    float: left; }
  .col-1-sm {
    width: 8.33333%; }
  .col-2-sm {
    width: 16.66667%; }
  .col-3-sm {
    width: 25%; }
  .col-4-sm {
    width: 33.33333%; }
  .col-5-sm {
    width: 41.66667%; }
  .col-6-sm {
    width: 50%; }
  .col-7-sm {
    width: 58.33333%; }
  .col-8-sm {
    width: 66.66667%; }
  .col-9-sm {
    width: 75%; }
  .col-10-sm {
    width: 83.33333%; }
  .col-11-sm {
    width: 91.66667%; }
  .col-12-sm {
    width: 100%; }
  .push-1-sm {
    left: 8.33333%; }
  .push-2-sm {
    left: 16.66667%; }
  .push-3-sm {
    left: 25%; }
  .push-4-sm {
    left: 33.33333%; }
  .push-5-sm {
    left: 41.66667%; }
  .push-6-sm {
    left: 50%; }
  .push-7-sm {
    left: 58.33333%; }
  .push-8-sm {
    left: 66.66667%; }
  .push-9-sm {
    left: 75%; }
  .push-10-sm {
    left: 83.33333%; }
  .push-11-sm {
    left: 91.66667%; }
  .pull-1-sm {
    left: -8.33333%; }
  .pull-2-sm {
    left: -16.66667%; }
  .pull-3-sm {
    left: -25%; }
  .pull-4-sm {
    left: -33.33333%; }
  .pull-5-sm {
    left: -41.66667%; }
  .pull-6-sm {
    left: -50%; }
  .pull-7-sm {
    left: -58.33333%; }
  .pull-8-sm {
    left: -66.66667%; }
  .pull-9-sm {
    left: -75%; }
  .pull-10-sm {
    left: -83.33333%; }
  .pull-11-sm {
    left: -91.66667%; } }

@media only screen and (min-width: 980px) {
  .col-1-md,
  .col-2-md,
  .col-3-md,
  .col-4-md,
  .col-5-md,
  .col-6-md,
  .col-7-md,
  .col-8-md,
  .col-9-md,
  .col-10-md,
  .col-11-md,
  .col-12-md {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    float: left; }
  .col-1-md {
    width: 8.33333%; }
  .col-2-md {
    width: 16.66667%; }
  .col-3-md {
    width: 25%; }
  .col-4-md {
    width: 33.33333%; }
  .col-5-md {
    width: 41.66667%; }
  .col-6-md {
    width: 50%; }
  .col-7-md {
    width: 58.33333%; }
  .col-8-md {
    width: 66.66667%; }
  .col-9-md {
    width: 75%; }
  .col-10-md {
    width: 83.33333%; }
  .col-11-md {
    width: 91.66667%; }
  .col-12-md {
    width: 100%; }
  .push-1-md {
    left: 8.33333%; }
  .push-2-md {
    left: 16.66667%; }
  .push-3-md {
    left: 25%; }
  .push-4-md {
    left: 33.33333%; }
  .push-5-md {
    left: 41.66667%; }
  .push-6-md {
    left: 50%; }
  .push-7-md {
    left: 58.33333%; }
  .push-8-md {
    left: 66.66667%; }
  .push-9-md {
    left: 75%; }
  .push-10-md {
    left: 83.33333%; }
  .push-11-md {
    left: 91.66667%; }
  .pull-1-md {
    left: -8.33333%; }
  .pull-2-md {
    left: -16.66667%; }
  .pull-3-md {
    left: -25%; }
  .pull-4-md {
    left: -33.33333%; }
  .pull-5-md {
    left: -41.66667%; }
  .pull-6-md {
    left: -50%; }
  .pull-7-md {
    left: -58.33333%; }
  .pull-8-md {
    left: -66.66667%; }
  .pull-9-md {
    left: -75%; }
  .pull-10-md {
    left: -83.33333%; }
  .pull-11-md {
    left: -91.66667%; } }

@media only screen and (min-width: 1140px) {
  .col-1-hd,
  .col-2-hd,
  .col-3-hd,
  .col-4-hd,
  .col-5-hd,
  .col-6-hd,
  .col-7-hd,
  .col-8-hd,
  .col-9-hd,
  .col-10-hd,
  .col-11-hd,
  .col-12-hd {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    float: left; }
  .col-1-hd {
    width: 8.33333%; }
  .col-2-hd {
    width: 16.66667%; }
  .col-3-hd {
    width: 25%; }
  .col-4-hd {
    width: 33.33333%; }
  .col-5-hd {
    width: 41.66667%; }
  .col-6-hd {
    width: 50%; }
  .col-7-hd {
    width: 58.33333%; }
  .col-8-hd {
    width: 66.66667%; }
  .col-9-hd {
    width: 75%; }
  .col-10-hd {
    width: 83.33333%; }
  .col-11-hd {
    width: 91.66667%; }
  .col-12-hd {
    width: 100%; }
  .push-1-hd {
    left: 8.33333%; }
  .push-2-hd {
    left: 16.66667%; }
  .push-3-hd {
    left: 25%; }
  .push-4-hd {
    left: 33.33333%; }
  .push-5-hd {
    left: 41.66667%; }
  .push-6-hd {
    left: 50%; }
  .push-7-hd {
    left: 58.33333%; }
  .push-8-hd {
    left: 66.66667%; }
  .push-9-hd {
    left: 75%; }
  .push-10-hd {
    left: 83.33333%; }
  .push-11-hd {
    left: 91.66667%; }
  .pull-1-hd {
    left: -8.33333%; }
  .pull-2-hd {
    left: -16.66667%; }
  .pull-3-hd {
    left: -25%; }
  .pull-4-hd {
    left: -33.33333%; }
  .pull-5-hd {
    left: -41.66667%; }
  .pull-6-hd {
    left: -50%; }
  .pull-7-hd {
    left: -58.33333%; }
  .pull-8-hd {
    left: -66.66667%; }
  .pull-9-hd {
    left: -75%; }
  .pull-10-hd {
    left: -83.33333%; }
  .pull-11-hd {
    left: -91.66667%; } }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.no-float {
  float: none; }

.no-bg {
  background: transparent; }

.no-border {
  border: 0; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

.fl {
  float: left; }

.fr {
  float: right; }

.alert {
  padding: 10px 15px 10px 15px;
  margin: 10px 10px;
  border-radius: 5px; }

.alert .alert-link {
  font-weight: bold; }

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

img.responsive {
  display: block;
  max-width: 100%;
  height: auto; }

img.round {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

img.thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  line-height: 20px;
  background-color: transparent;
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

img.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
