/*
* UFE Design Colors 色系
*/

// Grey / 平稳 中性
// ----------------------------------------------------------------------------
$color-grey-1: #FAFAFA;
$color-grey-2: #F5F5F5;
$color-grey-3: #EEEEEE;
$color-grey-4: #DDDDDD;
$color-grey-5: #BDBDBD;
$color-grey-6: #999999;
$color-grey-7: #777777;
$color-grey-8: #666666;
$color-grey-9: #444444;
$color-grey-10: #222222;

// Red / 斗志 奔放
// ----------------------------------------------------------------------------
$color-red-1: #FBEDEB;
$color-red-2: #F5D3CE;
$color-red-3: #EFB3AB;
$color-red-4: #EC9488;
$color-red-5: #EF7564;
$color-red-6: #EB5A46;
$color-red-7: #CF513D;
$color-red-8: #B04632;
$color-red-9: #933B27;
$color-red-10: #6E2F1A;

// Orange / 温暖 欢快
// ----------------------------------------------------------------------------
$color-orange-1: #FDF5EC;
$color-orange-2: #FCE8D2;
$color-orange-3: #FAD8B0;
$color-orange-4: #FDC788;
$color-orange-5: #FFB968;
$color-orange-6: #FFAB4A;
$color-orange-7: #E99E40;
$color-orange-8: #D29034;
$color-orange-9: #BB8129;
$color-orange-10: #A0711C;


// Yellow / 出生 阳光
// ----------------------------------------------------------------------------
$color-yellow-1: #FDFAE5;
$color-yellow-2: #FAF3C0;
$color-yellow-3: #F5EA92;
$color-yellow-4: #F3E260;
$color-yellow-5: #F5DD29;
$color-yellow-6: #F2D600;
$color-yellow-7: #E6C60D;
$color-yellow-8: #D9B51C;
$color-yellow-9: #CCA42B;
$color-yellow-10: #BD903C;


// Green / 健康 创新
// ----------------------------------------------------------------------------
$color-green-1: #EEF6EC;
$color-green-2: #D6ECD2;
$color-green-3: #B7DDB0;
$color-green-4: #99D18F;
$color-green-5: #7BC86C;
$color-green-6: #61BD4F;
$color-green-7: #5AAC44;
$color-green-8: #519839;
$color-green-9: #49852E;
$color-green-10: #3F6F21;


// Cyan / 希望 坚强
// ----------------------------------------------------------------------------
$color-cyan-1: #E4F7FA;
$color-cyan-2: #BDECF3;
$color-cyan-3: #8FDFEB;
$color-cyan-4: #5DD3E5;
$color-cyan-5: #29CCE5;
$color-cyan-6: #00C2E0;
$color-cyan-7: #00AECC;
$color-cyan-8: #0098B7;
$color-cyan-9: #0082A0;
$color-cyan-10: #006988;


// Blue / 包容 科技
// ----------------------------------------------------------------------------
$color-blue-1: #ECF9FF;  // 96.27
$color-blue-2: #CAE8FF;  // 89.61
$color-blue-3: #91D5FF;  // 78.43
$color-blue-4: #69C0FF;  // 70.59
$color-blue-5: #319AF0;  // 56.67
$color-blue-6: #1088DB;  // 46.08
$color-blue-7: #007ACE;  // 40.39
$color-blue-8: #0062B5;  // 35.49
$color-blue-9: #0E4798;  // 32.55
$color-blue-10: #0B3476; // 25.29


// Dark-Blue / 探索 钻研
// ----------------------------------------------------------------------------
$color-darkblue-1: #E4F0F6;
$color-darkblue-2: #BCD9EA;
$color-darkblue-3: #8BBDD9;
$color-darkblue-4: #5BA4CF;
$color-darkblue-5: #298FCA;
$color-darkblue-6: #0079BF;
$color-darkblue-7: #026AA7;
$color-darkblue-8: #055A8C;
$color-darkblue-9: #094C72;
$color-darkblue-10: #0C3953;

// Purple / 优雅 浪漫
// ----------------------------------------------------------------------------
$color-purple-1: #F7F0FA;
$color-purple-2: #EDDBF4;
$color-purple-3: #DFC0EB;
$color-purple-4: #D5A6E6;
$color-purple-5: #CD8DE5;
$color-purple-6: #C377E0;
$color-purple-7: #A86CC1;
$color-purple-8: #89609E;
$color-purple-9: #6C547B;
$color-purple-10: #484553;

// Magenta / 洋红
// ----------------------------------------------------------------------------
$color-magenta-1: #fff0f6;
$color-magenta-2: #ffd6e7;
$color-magenta-3: #ffadd2;
$color-magenta-4: #ff85c0;
$color-magenta-5: #f759ab;
$color-magenta-6: #eb2f96;
$color-magenta-7: #c41d7f;
$color-magenta-8: #9e1068;
$color-magenta-9: #780650;
$color-magenta-10: #520339;
