@charset "UTF-8";
// ==========================================================================
// Wee – Variables
// ==========================================================================

// Global Typography
// ----------------------------------------------------------------------------

$prefix: 'wee';

// Colors
$color-white:    #fff !default;
$color-gray-100: #f8f9fa !default;
$color-gray-200: #e9ecef !default;
$color-gray-300: #dee2e6 !default;
$color-gray-400: #ced4da !default;
$color-gray-500: #adb5bd !default;
$color-gray-600: #6c757d !default;
$color-gray-700: #495057 !default;
$color-gray-800: #343a40 !default;
$color-gray-900: #212529 !default;
$color-black:    #000 !default;

$color-grays: () !default;

$color-grays: map-merge(
  (
    "100": $color-gray-100,
    "200": $color-gray-200,
    "300": $color-gray-300,
    "400": $color-gray-400,
    "500": $color-gray-500,
    "600": $color-gray-600,
    "700": $color-gray-700,
    "800": $color-gray-800,
    "900": $color-gray-900
  ),
  $color-grays
);

$color-blue:    $color-blue-7 !default;
$color-indigo:  #6610f2 !default;
$color-purple:  $color-purple-6 !default;
$color-pink:    $color-magenta-6 !default;
$color-red:     $color-red-6 !default;
$color-orange:  $color-orange-6 !default;
$color-yellow:  $color-yellow-6 !default;
$color-green:   $color-green-6 !default;
$color-teal:    #20c997 !default;
$color-cyan:    $color-cyan-6 !default;

$colors-group: () !default;

$colors-group: map-merge(
  (
    "blue":       $color-blue,
    "indigo":     $color-indigo,
    "purple":     $color-purple,
    "pink":       $color-pink,
    "red":        $color-red,
    "orange":     $color-orange,
    "yellow":     $color-yellow,
    "green":      $color-green,
    "teal":       $color-teal,
    "cyan":       $color-cyan,
    "white":      $color-white,
    "gray":       $color-gray-600,
    "gray-dark":  $color-gray-800
  ),
  $colors-group
);

$primary:       $color-blue-6 !default;
$secondary:     $color-grey-7 !default;
$success:       $color-green-6 !default;
$info:          $color-cyan-6 !default;
$warning:       $color-yellow-6 !default;
$danger:        $color-red-6 !default;
$light:         $color-grey-3 !default;
$dark:          $color-grey-9!default;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);


$base-bg-color: #fff;
$base-font-family: sans-serif;
$base-font-size: 16px;
$base-line-height: 20px;
$base-font-weight: 400;
$base-font-color: $color-grey-8;
$base-link-color: $color-blue-6;

$heading-color: rgba(0,0,0,0.85);
$heading-color-dark: rgba(0,0,0,1);
$text-color: rgba(0,0,0,0.65);
$text-color-dark: rgba(0,0,0,0.85);
$text-color-secondary: rgba(0,0,0,0.45);
$text-color-secondary-dark: rgba(0,0,0,0.65);

$line-height-base: 1.5;
$border-radius-base: 4px;
$border-radius-sm: 2px;
$border-color-base: #e8e8e8;

$font-size-base: 14px;
$font-size-xlg: 24px;
$font-size-lg: 16px;
$font-size-sm: 12px;

$gap-xlg: 32px;
$gap-lg: 24px;
$gap-md: 16px;
$gap-sm: 12px;
$gap-xs: 8px;
$gap-xxs: 4px;

// Space
// ----------------------------------------------------------------------------
$space-base: 16px;
$space-xxs:  2px;
$space-xs:   4px;
$space-s:    8px;
$space-m:    16px;
$space-l:    24px;
$space-xl:   32px;
$space-xxl:  64px;

// Headings
// ----------------------------------------------------------------------------
$heading-font-family: sans-serif;
$h1-color: #343434;
$h2-color: #343434;
$h3-color: #343434;
$h4-color: #343434;
$h5-color: #343434;
$h6-color: #343434;
$h1-size: 32px;
$h2-size: 26px;
$h3-size: 22px;
$h4-size: 18px;
$h5-size: 16px;
$h6-size: 14px;
$h1-line-height: 48px;
$h2-line-height: 44px;
$h3-line-height: 38px;
$h4-line-height: 36px;
$h5-line-height: 28px;
$h6-line-height: 24px;

// Grid Containers
// ----------------------------------------------------------------------------
$screen-xs: 480px;
$screen-sm: 720px;
$screen-md: 960px;
$screen-hd: 1140px;
$screen-sw: 1620px;
$screen-fd: 100%;

//fluid
// Responsive Breakpoints
// ----------------------------------------------------------------------------
$breakpoint-sm: ($screen-sm + 20);
$breakpoint-md: ($screen-md + 20);
$breakpoint-hd: ($screen-hd + 20);

// Gird Gap
// ----------------------------------------------------------------------------
$base-gap: 10px;
$flex-columns: 24;

// Tables
// ----------------------------------------------------------------------------
$table-border-color: #DDD;
$table-td-border-color: #DDD;
$table-th-bg: #DDD;
$table-striped-even-bg: #f7f7f7;
$table-striped-odd-bg: #fff;

$enable-shadows: false !default;

// Tooltip
// ----------------------------------------------------------------------------
$tooltip: $prefix + '-tooltip';
$tooltip-placement: $prefix + '-tooltip-placement';
$tooltip-color: rgba(0,0,0,0.75);
$tooltip-bg: rgba(0,0,0,0.75);
$tooltip-arrow-width: 5px;
$tooltip-max-width: 250px;

// popover
// ----------------------------------------------------------------------------
$popover: $prefix + '-popover';
$popover-placement: $prefix + '-popover-placement';
$popover-color: $text-color;
$popover-title-color: rgba(0,0,0,0.85);
$popover-bg: #fff;
$popover-min-width: 177px;
$popover-arrow-width: 8px;
$popover-arrow-color: #fff;
$popover-arrow-shadow-color: rgba(0,0,0,0.08);

$notification-default-width: 386px;

// modal
// ----------------------------------------------------------------------------
$modal-mask-bg: rgba(0,0,0,0.65);
$modal-top: 100px;
$modal-default-width: 520px;
$modal-default-confrim-width: 420px;
$modal-bg: #fff;

// Card
// ----------------------------------------------------------------------------
$card-shadow: 0 4px 8px rgba(0,0,0,.12);


// Input
// ----------------------------------------------------------------------------
$input-height-base: 32px;
$input-height-large: 40px;
$input-height-small: 24px;
$input-bg-color: #fff;
$input-addon-bg-color: #fafafa;
$input-border-color: #d9d9d9;
$input-box-foucs-shadow: 0 0 0 2px rgba(24,144,255,0.2);

// Select
// ----------------------------------------------------------------------------
$select-bg-color: #fff;
$select-dropdown-shadow: 0 2px 8px rgba(0,0,0,0.15);
$select-dropdown-bg-color: #fff;

// Shadow
// ----------------------------------------------------------------------------
$shadow-color : rgba(0, 0, 0, .15);
$shadow-type-1-up : 0 -2px 8px $shadow-color;
$shadow-type-1-down : 0 2px 8px $shadow-color;
$shadow-type-1-left : -2px 0 8px $shadow-color;
$shadow-type-1-right : 2px 0 8px $shadow-color;
$shadow-box-base : $shadow-type-1-down;
$shadow-type-2: 0 4px 12px $shadow-color;

// z-index list
// ----------------------------------------------------------------------------
$z-index-affix           : 10;
$z-index-back-top        : 10;
$z-index-modal-mask      : 1100;
$z-index-modal           : 1100;
$z-index-notification    : 1010;
$z-index-message         : 1010;
$z-index-popover         : 1030;
$z-index-picker          : 1050;
$z-index-dropdown        : 1050;
$z-index-tooltip         : 1060;
$z-index-header-bar      : 2000;
