@charset "UTF-8";
// ==========================================================================
// Wee – alert
// ==========================================================================
@mixin alert-define($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: darken($border, 5%);
  }

  .#{$prefix}-alert-link {
    color: darken($text-color, 15%);
  }

  .#{$prefix}-alert-close {
    color: darken($text-color, 15%);
  }
}

.#{$prefix}-alert-close {
  border: none;
  width: 36px;
  height: 36px;
  background: transparent;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 2px;
}

.#{$prefix}-alert {
  @include padding(10px 15px 10px 15px);
  @include margin(10px null 10px null);
  border-radius: $border-radius-base;
  border: 1px solid transparent;
  position: relative;
}

.#{$prefix}-alert-round {
  border-radius: 40px;
}
// bg border text
.#{$prefix}-alert-success {
  @include alert-define(#F1F7F0, #A5C896, #686A67);
}

.#{$prefix}-alert-info {
  @include alert-define(#EBF1F8, #5386C7, #686A67);
}

.#{$prefix}-alert-warning {
  @include alert-define(#FBF6F0, #E3BC7F, #686A67);
}

.#{$prefix}-alert-danger {
  @include alert-define(#F7EEED, #CB847D, #686A67);
}

// @each $color, $value in $theme-colors {
//   @if $color == light {
//     .#{$prefix}-alert-#{$color} {
//       @include alert-define(lighten($value, 5%), $value, darken($value, 15%));
//     }
//   } @else {
//     .#{$prefix}-alert-#{$color} {
//       @include alert-define(lighten($value, 40%), lighten($value,35%), darken($value, 15%));
//     }
//   }
// }
//
// @each $color, $value in $theme-colors {
//   @if $color == light {
//     .#{$prefix}-alert-#{$color}-outline {
//       @include alert-define($color-white, $value, darken($value, 15%));
//     }
//   } @else {
//     .#{$prefix}-alert-#{$color}-outline {
//       @include alert-define($color-white, $value, $value);
//     }
//   }
// }
//
// @each $color, $value in $theme-colors {
//   @if $color == light {
//     .#{$prefix}-alert-#{$color}-bg {
//       @include alert-define($value, $value, darken($value, 25%));
//       .#{$prefix}-alert-link {
//         color:darken($value, 25%);
//       }
//     }
//   } @else {
//     .#{$prefix}-alert-#{$color}-bg {
//       @include alert-define($value, $value, $color-white);
//       .#{$prefix}-alert-link {
//         color: $color-white;
//       }
//     }
//   }
// }
