@charset "UTF-8";

// ==========================================================================
// Wee – Badges
// ==========================================================================

.#{$prefix}-badge {
  display: inline-block;
  min-width: 10px;
  padding: 4px 8px;
  font-size: 75%;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: $color-gray-300;
  border-radius: 0.15rem;

  &:empty {
    display: none;
  }

  .#{$prefix}-btn & {
    position: relative;
    top: -1px;
  }

  .#{$prefix}-btn-xs &,
  .#{$prefix}-btn-group-xs > .#{$prefix}-btn & {
    top: 0;
    padding: 1px 5px;
  }

}

.#{$prefix}-badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

a.#{$prefix}-badge {
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}

@each $color, $value in $theme-colors {
  .#{$prefix}-badge-#{$color} {
    background-color: $value;
  }
}
