@charset "UTF-8";

// ==========================================================================
// Wee – Breadcrumb
// ==========================================================================

.#{$prefix}-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  margin-bottom: 15px;
  list-style: none;
  background-color: #e9ecef;
  line-height: 20px;
  @include border-radius(4px);
}

.#{$prefix}-breadcrumb-item {
  + .#{$prefix}-breadcrumb-item {
    padding-left: 8px;
    &::before {
      display: inline-block;
      padding-right: 8px;
      color: #6c757d;
      content: '/';
    }
  }

  + .#{$prefix}-breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  // stylelint-disable-next-line no-duplicate-selectors
  + .#{$prefix}-breadcrumb-item:hover::before {
    text-decoration: none;
  }

  &.active {
    color: #6c757d;
  }
}
