@charset "UTF-8";

// ==========================================================================
// Wee – Breadcrumb
// ==========================================================================

.#{$prefix}-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  @include border-radius(0.25rem);
}

.#{$prefix}-breadcrumb-item {
  + .#{$prefix}-breadcrumb-item {
    padding-left: .5rem;
    &::before {
      display: inline-block;
      padding-right: .5rem;
      color: #6c757d;
      content: '/';
    }
  }

  + .#{$prefix}-breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  // stylelint-disable-next-line no-duplicate-selectors
  + .#{$prefix}-breadcrumb-item:hover::before {
    text-decoration: none;
  }

  &.active {
    color: #6c757d;
  }
}
