@charset "UTF-8";

// ==========================================================================
// Wee – Flex
// ==========================================================================


.#{$prefix}-flex-column, .#{$prefix}-flex-row {
	display: flex;
	display: -webkit-flex;
	@include flex-wrap(wrap);
	&:before, &:after {
		content: " ";
		display: flex;
		display: -webkit-flex;
		@include box-sizing;
		width: 0;
		height: 0;
		font-size: 0;
	}
	&:after {
		clear: both;
	}
}

.#{$prefix}-flex-column {
	// @include box-orient(horizontal);
	// @include box-direction(normal);
	@include flex-direction(row);
}
.#{$prefix}-flex-row {
	@include flex-direction(column);
}
.#{$prefix}-flex-around {
	@include justify-content(space-around);
}
.#{$prefix}-flex-between {
	// @include box-pack(justify);
	@include justify-content(space-between);
}
.#{$prefix}-flex-baseline {
	@include align-items(baseline);
}
.#{$prefix}-flex-strech {
	@include align-items(stretch);
}

.#{$prefix}-flex-col {
	@include flex-grow(1);
}


@for $i from 1 through $flex-columns {
  .#{$prefix}-flex-col-#{$i} {
    width: ($i / $flex-columns) * 100%;
  }
  .#{$prefix}-flex-order-#{$i} {
	order:$i;
  }
}

@for $i from 1 through $flex-columns - 1 {
  .#{$prefix}-flex-push-#{$i} {
    margin-left: ($i / $flex-columns) * 100%;
  }
}

.#{$prefix}-flex-row {
	&.#{$prefix}-flex-left {
		@include align-items(flex-start);
	}
	&.#{$prefix}-flex-right {
		@include align-items(flex-end);
	}
	&.#{$prefix}-flex-top {
		@include justify-content(flex-start);
	}
	&.#{$prefix}-flex-bottom {
		@include justify-content(flex-end);
	}
	&.#{$prefix}-flex-center {
		@include align-items(center);
	}
	&.#{$prefix}-flex-middle {
		@include justify-content(center);
	}
}

.#{$prefix}-flex-column {
	&.#{$prefix}-flex-left {
		@include justify-content(flex-start);
	}
	&.#{$prefix}-flex-right {
		@include justify-content(flex-end);
	}
	&.#{$prefix}-flex-top {
		@include align-items(flex-start);
	}
	&.#{$prefix}-flex-bottom {
		@include align-items(flex-end);
	}
	&.#{$prefix}-flex-center {
		@include justify-content(center);
	}
	&.#{$prefix}-flex-middle {
		@include align-items(center);
	}
}

[class*=flex-col] {
	&.#{$prefix}-flex-left {
		margin-right: auto;
	}
	&.#{$prefix}-flex-right {
		margin-left: auto;
	}
	&.#{$prefix}-flex-top {
		margin-bottom: auto;
	}
	&.#{$prefix}-flex-bottom {
		margin-top: auto;
	}
	&.#{$prefix}-flex-center {
		margin-left: auto;
		margin-right: auto;
	}
	&.#{$prefix}-flex-middle {
		margin-top: auto;
		margin-bottom: auto;
	}
}

.#{$prefix}-flex-sm-show, .#{$prefix}-flex-md-show {
	display: none;
}

@media (max-width: 992px) {
	.#{$prefix}-flex-md {
		@include flex-direction(column);
		.#{$prefix}-flex-row {
			&.#{$prefix}-flex-left {
				@include align-items(flex-start);
			}
			&.#{$prefix}-flex-right {
				@include align-items(flex-end);
			}
			&.#{$prefix}-flex-top {
				@include justify-content(flex-start);
			}
			&.#{$prefix}-flex-bottom {
				@include justify-content(flex-end);
			}
			&.#{$prefix}-flex-center {
				@include align-items(center);
			}
			&.#{$prefix}-flex-middle {
				@include justify-content(center);
			}
		}
		[class*=flex-col] {
			width: 100%;
		}
	}
	.#{$prefix}-flex-md-hide {
		display: none !important;
	}
	.#{$prefix}-flex-md-show {
		display: flex !important;
		display: -webkit-flex !important;
	}
}

//
@media (max-width: 768px) {
	.#{$prefix}-flex-sm {
		@include flex-direction(column);
		.#{$prefix}-flex-row {
			&.#{$prefix}-flex-left {
				@include align-items(flex-start);
			}
			&.#{$prefix}-flex-right {
				@include align-items(flex-end);
			}
			&.#{$prefix}-flex-top {
				@include justify-content(flex-start);
			}
			&.#{$prefix}-flex-bottom {
				@include justify-content(flex-end);
			}
			&.#{$prefix}-flex-center {
				@include align-items(center);
			}
			&.#{$prefix}-flex-middle {
				@include justify-content(center);
			}
		}

		[class*=flex-col] {
			width: 100%;
		}
	}
	.#{$prefix}-flex-sm-hide {
		display: none !important;
	}
	.#{$prefix}-flex-sm-show {
		display: flex !important;
		display: -webkit-flex !important;
	}
}
