@charset "UTF-8";

// ==========================================================================
// Wee – lsit
// ==========================================================================

/*
 * @list列表形式
 * @nine-grid 九宫格
 * @nine-grid-pic 九宫格纯图片
 * @waterfall 瀑布流
 * @timeline 时间轴
 * @left-pic 图片在左边
 * @right-pic 图片在右边
 * @full-pic 图片通栏
 * @masonry 砖砌结构
 */

$list: $prefix + '-list';

.#{$list} {
  border: 1px solid #eee;
  padding: 20px 20px 0;
  min-height: 60px;
}

.#{$list}-inner {

}

.#{$list}-body {
  img {
    width: 100%;
  }
  .#{$list}-item {
    margin-bottom: 20px;
    @include clearfix;
  }
  .#{$list}-item-pic {
    width: 100%;
    height: 240px;
    background: #f5f5f5;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .#{$list}-item-text {
    width:100%;
    min-height: 20px;
    line-height: 1.5;
  }
}

.#{$list}-nine-grid {
  .#{$list}-item-pic {
    overflow: hidden;
  }
  .#{$list}-item-text {
    text-align: left;
  }
}

.#{$list}-grid-pic {
  .#{$list}-item-pic {
    overflow: hidden;
  }
}

.#{$list}-left-pic {
  .#{$list}-item-pic {
    float:left;
    max-width: 200px;
    height: 140px;
    margin-right: 20px;
  }
  .#{$list}-item-text {
    padding-left: 220px;
  }
}

.#{$list}-right-pic {
  .#{$list}-item-pic {
    float:right;
    max-width: 300px;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 0;
  }
  .#{$list}-item-text {
    margin-right: 300px;
    text-align: left;
  }
}

.#{$list}-full-pic {
  .#{$list}-item-pic {

  }
  .#{$list}-item-text {
    text-align: left;
  }
}

.#{$list}-text {
  .#{$list}-item {
    color: $text-color-secondary-dark;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 8px;

    a {
      color: $text-color-secondary-dark;
    }
    a:hover {
      color:$primary;
    }
  }

  .#{$list}-text-time {
    color: #999;
    float: right;
  }

  .#{$list}-item:last-child {
    border:none;
  }
}
