@charset "UTF-8";

// ==========================================================================
// Wee – lsit
// ==========================================================================

/*
 * @list列表形式
 * @nine-grid 九宫格
 * @grid-pic 九宫格纯图片
 * @waterfall 瀑布流
 * @timeline 时间轴
 * @left-pic 图片在左边
 * @right-pic 图片在右边
 * @full-pic 图片通栏
 * @masonry 砖砌结构
 */

$list: $prefix + '-list';

.#{$list} {
  border: 1px solid #eee;
  padding: 20px 20px 0;
  min-height: 60px;
}

.#{$list}-inner {

}

.#{$list}-body {
  img {
    width: 100%;
  }
  .#{$list}-item {
    margin-bottom: 20px;
    @include clearfix;
  }
  .#{$list}-item-pic {
    width: 100%;
    min-height: 64px;
    background:rgba(0,0,0,0.05);
    margin-bottom: 10px;
    overflow: hidden;
  }
  .#{$list}-item-text {
    width:100%;
    min-height: 20px;
    line-height: 1.5;
  }
}

.#{$list}-nine-grid {
  .#{$list}-item-pic {
    overflow: hidden;
  }
  .#{$list}-item-text {
    text-align: left;
  }
}

.#{$list}-grid-pic {
  .#{$list}-body {
    display: grid;
    padding: 0 0 20px;
    margin: 0;
    list-style-type: none;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-flow: dense;
  }
  .#{$list}-item {
    background: rgba(0,0,0,.05);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 304px;
    min-height: 200px;
    grid-column: span 1;
    grid-row: span 1;
    margin-bottom: 0;
  }
  .#{$list}-item-pic {
    overflow: hidden;
    margin-bottom: 0;
  }
  .#{$list}-item-2x2 {
    max-width: 100%;
    grid-column: span 2;
    grid-row: span 2;
  }
  .#{$list}-item-1x2 {
    max-width: 100%;
    grid-column: span 1;
    grid-row: span 2;
  }
  .#{$list}-item-2x1 {
    max-width: 100%;
    grid-column: span 2;
    grid-row: span 1;
  }
}

.#{$list}-left-pic {
  .#{$list}-item-pic {
    float:left;
    max-width: 200px;
    height: 140px;
    margin-right: 20px;
  }
  .#{$list}-item-text {
    padding-left: 220px;
  }
}

.#{$list}-right-pic {
  .#{$list}-item-pic {
    float:right;
    max-width: 300px;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 0;
  }
  .#{$list}-item-text {
    margin-right: 300px;
    text-align: left;
  }
}

.#{$list}-full-pic {
  .#{$list}-item-pic {

  }
  .#{$list}-item-text {
    text-align: left;
  }
}

.#{$list}-text {
  .#{$list}-item {
    color: $text-color-secondary-dark;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 8px;

    a {
      color: $text-color-secondary-dark;
    }
    a:hover {
      color:$primary;
    }
  }

  .#{$list}-text-time {
    color: #999;
    float: right;
  }

  .#{$list}-item:last-child {
    border:none;
  }
}
