@charset "UTF-8";

// ==========================================================================
// Wee – Table
// ==========================================================================

caption {
  @include font-size($base-font-size + 2);
  line-height: normal;
  font-weight: 700;
  text-align: left;
  padding: .5em 0;
  border-bottom: 1px solid #d7d7d7;
}
table {
  @include font-size($base-font-size - 2);
  width: 100%;
  margin: 1em 0;
  text-align: left;
  border-collapse:collapse;
  border-spacing:0;
  thead,
  tbody,
  tfoot {
    td,
    th {
      color: #585858;
      padding: .8em .5em;
      border-bottom: 1px solid #e9e9e9;
    }
  }

  > thead {
    > tr {
      > th,
      > td {
        background: #f7f7f7;
      }
    }
  }
}

.#{$prefix}-table-bordered {
  border: 1px solid #e9e9e9;
  > thead {
    > tr {
      > th,
      > td {
        border: 1px solid #e9e9e9;
        border-bottom: none;
      }
    }
  }

  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid #e9e9e9;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}

.#{$prefix}-table-striped {
  > tbody > tr:nth-child(even) {
    background-color: $table-striped-even-bg;
  }
  > tbody > tr:nth-of-type(odd) {
    background-color: $table-striped-odd-bg;
  }
}

.#{$prefix}-table-hover {
  > tbody > tr:hover {
    background-color: lighten($primary, 40%);
  }
}
